<div div class="example-container">
    <mat-form-field>
        <mat-label>Enter FirstName</mat-label>
        <input matInput [type]="'text'" [(ngModel)]="fname">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Enter SecondName</mat-label>
        <input matInput [type]="'text'" [(ngModel)]="sname">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Enter AdmissionNumber</mat-label>
        <input matInput [type]="'number'" [(ngModel)]="admission">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Enter Form</mat-label>
        <input matInput [type]="'text'"[(ngModel)]="form">
    </mat-form-field>

    <button (click)="addStudent()" mat-button color="blue">AddStudents </button>



</div>

