<div>
  <table>
    <tr>
      <th></th>
      <th>StudentId</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>AdmissionNumber</th>
      <th>Form</th>
    </tr>

    <!-- Loop through students -->

    <tr *ngFor="let student of students">
      <td>
        <form action="">
          <input type="checkbox" [checked]="isChecked" (change)="selectStudents(student,$event)">
        </form>
      </td>
      <td><a [routerLink]="''" (click)="navigateToDetails(student)">{{student.studentId}}</a></td>
      <td>{{student.firstName}}</td>
      <td>{{student.lastName}}</td>
      <td>{{student.admissionNumber}}</td>
      <td>{{student.form}}</td>
    </tr>
  </table>
</div>

<div class="edit">
  <!-- Add Student section -->
  <button [disabled]="isSelectedStudent" (click)="addStudent()">Add Student</button> <br><br>
  <div *ngIf="isClicked">
    <!-- Input fields for adding a student -->
    FirstName: <input type="text" [(ngModel)]="firstname"><br><br>
    LastName: <input type="text" [(ngModel)]="lastname"><br><br>
    Admission: <input type="text" [(ngModel)]="admission"><br><br>
    Form: <input type="text" [(ngModel)]="form"><br>
    <button (click)="_addStudent()" color="blue">Add</button><br><br>
    <!-- <div>
      <button (click)="doneAddingStudent()">Done</button>
    </div> -->
  </div>

  <div class="">
    <!-- Edit Student section -->
    <button [disabled]="!isSelectedStudent||isDeleting" (click)="editStudent()">Edit Student</button> <br><br>
    <div *ngIf="isEditting">
      FirstName: <input type="text" [(ngModel)]="selectedStudent.firstName"><br><br>
      LastName: <input type="text" [(ngModel)]="selectedStudent.lastName"><br><br>
      Admission: <input type="text" [(ngModel)]="selectedStudent.admissionNumber"><br><br>
      Form: <input type="text" [(ngModel)]="selectedStudent.form"><br>
      <button (click)="_editStudent()" color="blue">Edit</button><br><br>
      <!-- <div>
        <button (click)="doneEdittingStudent()">Done</button>
      </div> -->
    </div>


    <div>
      <button [disabled]="!isSelectedStudent" (click)="deleteSelectedStudents()">deleteStudent(s)</button>

    </div>

    <!-- Notification  section -->
    <div>
      <h1> {{notification}}</h1>
    </div>


  </div>
</div>