<div div class="example-container">
    <mat-form-field>
        <mat-label>Enter MarksId</mat-label>
        <input matInput [type]="'number'" [(ngModel)]="id">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Enter Maths-score</mat-label>
        <input matInput name="maths" [type]="'number'" [(ngModel)]="maths">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Enter English-score</mat-label>
        <input matInput [type]="'number'" [(ngModel)]="english">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Enter Chemistry-score</mat-label>
        <input matInput [type]="'number'" [(ngModel)]="chemistry">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Enter studentId</mat-label>
        <input matInput [type]="'number'" [(ngModel)]="studentId">
    </mat-form-field>

    <button (click)="addMarks()" mat-button color="blue">AddMarks </button>
</div>